@import "bootstrap";

/************ General **************/

#body_container {
	padding-top: 60px;
}

.header {
	font-size: 1.2em;
	padding-bottom: 20px;
}

/************ Employees **************/

.give-me-some-space {
	padding-top: 20px;
}