<div class="header"><h2>Customers</h2>
	<table>
			<% @accounts.each do |account| %>
			<% if account.type == "Customer" %>
			<tr>
				<td><%= link_to account.name, account_path(account) %></td>
			</tr>
			<% end %>
			<% end %>
	</table>
</div>

<div class="header">
	<h2>Employees</h2>
	<table>
			<% @accounts.each do |account| %>
			<% if account.type == "Employee" %>
			<tr>
				<td><%= link_to account.name, employee_path(account) %></td>
			</tr>
			<% end %>
			<% end %>
	</table>
</div>